@import "../../theme/palette.less";

.scenario-container {
    
    .flex-container {
        display: flex;


        .left-container {
            flex: 4;

        }

        .middle-container {
            flex: 11;
            margin-left: 20px;

            .no-rows-message {
                margin-top: 30px;
                color: @secondary-text;
            }
        }

        .right-container {
            flex: 1;
            text-align: right;
        }

        .unicode-button {
            font-size: 1.25em;
            padding: 0;
            background-color: transparent;
        }
    }
 
    .scenario-button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        button {
            width: 100px;
            margin-right: 10px;
        }
    }

    .modal-content {
        h2 {
            margin: 0 20px;
        }
        
    }

}
