@import "../../../theme/palette.less";

.summary-container {
    display: flex;
    border: solid 0px @input-border;
    height: 34px;
    width: 100%;
    margin-bottom: 20px;
    background-color: @secondary-bg;
    color: @secondary-text;
    font-weight: bold;
    border-top: solid 1px;
    border-bottom: solid 1px;


    .summary-left {
        flex: 1;
        padding-left: 10px;
        padding-top: 10px;
        display: flex;
        align-items: flex-start;
    }

    .summary-middle {
        flex: 1;
        display: flex;
        padding-top: 10px;
        align-items: flex-start;
        justify-content: center;
    }

    .summary-right {
        flex: 1;
        display: flex;
        padding-top: 10px;
        padding-right: 10px;
        align-items: flex-start;
        justify-content: flex-end;
    }
}