.asset-info-container {
  border: solid 1px #ccc;
  margin-bottom: 20px;
  width: 390px;
}
.asset-info-container h4 {
  margin: 0;
  padding: 10px 10px 10px 0;
}
.asset-info-container button {
  margin-right: 4px;
}
.asset-info-container .form-group {
  padding-left: 10px;
}
.asset-info-container .heading-container {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 20px;
  background-color: #ccc;
}
.asset-info-container .heading-container .title-container {
  display: flex;
  padding-left: 10px;
}
.asset-info-container .heading-container .title-container .info-container {
  padding-left: 0px;
  display: inline-block;
  position: relative;
  top: 7px;
  left: -4px;
}
.asset-info-container .form-group {
  margin-left: 15px;
}
.asset-info-container .form-group .radio-label {
  display: inline;
  margin-right: 12px;
}
.asset-info-container .form-group .radio-label input {
  margin-right: 5px;
}
.asset-info-container .form-group .option-group {
  position: relative;
  display: inline;
}
.asset-info-container .form-group:last-of-type {
  position: relative;
  top: 5px;
  margin-bottom: 20px;
}
.display-info-container {
  border: solid 1px #ccc;
  margin-bottom: 20px;
  width: 390px;
}
.display-info-container h4 {
  margin: 0;
  padding: 10px 10px 10px 0;
}
.display-info-container button {
  margin-right: 4px;
}
.display-info-container .form-group {
  padding-left: 10px;
}
.display-info-container .heading-container {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 20px;
  background-color: #ccc;
}
.display-info-container .heading-container .title-container {
  display: flex;
  padding-left: 10px;
}
.display-info-container .heading-container .title-container .info-container {
  padding-left: 0px;
  display: inline-block;
  position: relative;
  top: 7px;
  left: -4px;
}
.display-info-container label {
  margin-bottom: 7px;
  display: block;
}

.price-level-container {
  border: solid 1px #ccc;
  margin-bottom: 20px;
  width: 390px;
}
.price-level-container h4 {
  margin: 0;
  padding: 10px 10px 10px 0;
}
.price-level-container button {
  margin-right: 4px;
}
.price-level-container .form-group {
  padding-left: 10px;
}
.price-level-container .heading-container {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-bottom: 20px;
  background-color: #ccc;
}
.price-level-container .heading-container .title-container {
  display: flex;
  padding-left: 10px;
}
.price-level-container .heading-container .title-container .info-container {
  padding-left: 0px;
  display: inline-block;
  position: relative;
  top: 7px;
  left: -4px;
}
.price-level-container .form-group {
  margin-left: 15px;
}
.price-level-container .form-group input[type="number"] {
  width: 195px;
}
.price-level-container .form-group .slider {
  margin-bottom: -15px;
  position: relative;
  left: 95px;
}
.price-level-container .form-group .slider input[type="range"] {
  width: 195px;
}
.price-level-container .form-group:last-of-type {
  margin-bottom: 20px;
}

.error-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  width: 100%;
}
.error-container h4 {
  margin: 10px 0 0 0;
}
.error-container ul {
  padding: 0;
}
.error-container ul li {
  margin-left: 16px;
  list-style-type: square;
  color: #d84315;
  margin-bottom: 5px;
}

.scenario-container .flex-container {
  display: flex;
}
.scenario-container .flex-container .left-container {
  flex: 4;
}
.scenario-container .flex-container .middle-container {
  flex: 11;
  margin-left: 20px;
}
.scenario-container .flex-container .middle-container .no-rows-message {
  margin-top: 30px;
  color: #5f6368;
}
.scenario-container .flex-container .right-container {
  flex: 1;
  text-align: right;
}
.scenario-container .flex-container .unicode-button {
  font-size: 1.25em;
  padding: 0;
  background-color: transparent;
}
.scenario-container .scenario-button-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.scenario-container .scenario-button-container button {
  width: 100px;
  margin-right: 10px;
}
.scenario-container .modal-content h2 {
  margin: 0 20px;
}


/*# sourceMappingURL=204.74f8a62beff788fa2158.css.map*/