.asset-display-container {
    
    .heading-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: start;
    
        .table-container {
            flex: 0 0 95%; 
            margin-bottom: 10px;
        }
    
        .chart-container {
            flex: 0 0 95%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            > div {
                margin-top: 25px;
                width: 28%;               
                box-sizing: border-box;
                height: 300px;
            }

        }
    }

    .unicode-button {
        font-size: 1.25em;
        padding: 0;
        background-color: transparent;
    }


}