@import "../../theme/palette.less";

.sidebar {
    background-color: @content-bg;
    padding: 20px;
    width: 250px;
    min-width: 250px;
    border-right: 1px solid @secondary-bg;

    p {
        color: @secondary-text;
    }

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
        padding: 6px 0 6px 10px;
        border-radius: 4px;
        width: 75%;
        cursor: pointer;
    }

    li:hover {
        background-color: @primary-very-light;
        padding: 6px 0 6px 10px;
    }  

    button {
        width: 115px;
    }
}
