.form-container {
    padding: 20px;

    .form-group {

        button {
            width: 125px;
        }
    }

    .form-group:last-of-type {
        display: flex;
        justify-content: flex-end;
    }
}

