.profile-form-container {
    padding: 20px;

    .form-group:last-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
       

        .link-button {
            box-sizing: border-box;
            flex: 1;
            max-width: calc(50% - 5px);
            margin-right: 10px;
            min-width: 136px;
        }

        button {
            flex: 1;
            max-width: calc(50% - 5px);
            margin-left: 10px;
        }
    }

}

