@import "./palette.less";

/* General Styles */
html, body {
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: @main-bg;
    color: @primary-text;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .link-styles() {
    color: @link-text;
    text-decoration: none;

    &:hover {
      color: @primary-dark;
    }
  }

  a {
    .link-styles()
  }
  
 .link {
    color: @primary-dark;
  }
  
  h1 {
    color: @primary-dark;
  }
  
  h2 {
    color: @primary-color;
  }
  
  /* Buttons */
  button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1em;
  }

  .button-primary {
    background-color: @primary-button-bg;
    color: @primary-button-text;
    margin-top: 10px;

    &:hover {
        background-color: @primary-light;
    }

    &:disabled {
        background-color: @secondary-bg;
        color: @secondary-text;
    }
  }  
  
  .button-secondary {
    background-color: @secondary-button-bg;
    color: @secondary-button-text;
    margin-top: 10px;
    &:hover {
        background-color: @secondary-light;
    }
  }

  /* Form Styles */
  .form-group {
    margin-bottom: 15px;

    label {
        display: inline-block;
        width: 95px;
    }

    input {
        padding: 10px;
        border: 1px solid @input-border;
        border-radius: 4px;

        &:focus, &:focus-visible {
            border-color: @primary-color;
            outline: none;
        }
    }
  }

  // Accents
  .accent {
    color: @accent-color-1;
  }
